
// For news feed module on releases page, depends on xsl in portal folder, see #206
  .dnn-release-feed {

       h1,
       h2,
       h3 {
           margin: 0.7em 0 0.5em 0;
       }

       h1 {
           font-size: 1.7em;
       }

       .dnn-release-item {
           margin-bottom: 4em;
           padding-bottom: 1.5em;

       }



       .dnn-release-item-header {
           border-bottom: solid 1px $gray-400;
           margin-bottom: 0.5em;
       }

       .dnn-release-item-section {
           h1 {
               color: $blue;
           }

           h2,
           h3 {
               color: $black;
           }

           h1 {
               font-size: 1.7em;
           }

           h2 {
               font-size: 1.5em;
           }

           h3 {
               font-size: 1.4em;
           }
       }



   }