
@mixin _timeline-center-base($item-padding, $marker-width, $marker-border-width, $line-width) {

    .oc-content {
    padding: $item-padding 0;
    }

    .timeline-marker {
        @include _timeline-marker-styles($marker-width, $marker-border-width);
    }

     .timeline-panel {
            max-width: calc(95% - #{$marker-width});
        }

    &:hover {
        .timeline-marker {}
    }


}

@mixin _timeline-marker-styles($marker-width, $marker-border-width) {
    float: left;
    width: $marker-width;
    aspect-ratio: 1/1;
    border-width: $marker-border-width;
    display: flex;
    align-items: center;
    justify-content: center;

          .timeline-marker-text{
             font-size: $marker-width / 9;
          }
}



@mixin _timeline-center-floats($marker-width, $line-width) {

    .oc-content {
        width: 50%;

    }

    &:nth-child(odd) {
        .oc-content {
            left: calc(#{$marker-width} / 2 - #{$line-width} / 2);

            .timeline-marker {
                float: right;
            }

            .timeline-panel {
                max-width: calc(95% - #{$marker-width});
                float: right;
                padding: 0 5% 0 0;
                text-align: right;
            }

            .tl-item-buttons{
                justify-content: flex-end;
            }
        }
    }

    &:nth-child(even) {
        .oc-content {
            left: calc(50% - #{$marker-width} / 2 - #{$line-width} / 2);

            .timeline-marker {
                float: left;
            }

            .timeline-panel {
                max-width: calc(95% - #{$marker-width});
                float: left;
                padding: 0 0 0 5%;
            }
        }
    }
}

@mixin time-line-center($break-point, $item-padding, $marker-width, $marker-border-width, $line-width) {
    

    @if $break-point !=0 and $break-point !=null and $break-point !="" {
        @media screen and (min-width: #{$break-point}) {
            @include _timeline-center-base($item-padding, $marker-width, $marker-border-width, $line-width);
            @include _timeline-center-floats($marker-width, $line-width);
        }
    } @else {
        // Mobile styles - circles stay on the left
        @include _timeline-center-base($item-padding, $marker-width, $marker-border-width, $line-width);
    }
}